// Importation des fonts Google Fonts
@font-face {
    font-family: "Audiowide";
    src: url("/fonts/AudioWide-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Alfa";
    src: url("/fonts/AlfaSlabOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}